.patients {
    display: flex;
}

.patient-container {
    height: 100vh;
    margin-top: 1rem;
}

.button-container {
    display: flex; justify-content: flex-end;
}

.u-margin-right {
    margin-right: 2rem;
}